<ng-container *ngIf="rentals$ | async as rentals">
    <table matSort (matSortChange)="sortData($event)">
        <tr>
            <th mat-sort-header="rental_date">Rental date</th>
            <th mat-sort-header="return_date">Return date</th>
            <th mat-sort-header="is_paid">Is paid</th>
            <th>User</th>
            <th mat-sort-header="movie">Title</th>
            <th>Return</th>
        </tr>

        @for (rental of sortedData; track rental) {
        <tr>
            <td>{{rental.rental_date}}</td>
            <td>{{rental.return_date}}</td>
            <td>{{rental.is_paid}}</td>
            <td>{{rental.user}}</td>
            <td>{{rental.movie}}</td>
            <td><button mat-button (click)="onReturnMovieClick(rental.uuid)">Return</button></td>
        </tr>
        }
    </table>
    <mat-paginator [length]="rentals.count" (page)="onPageChange($event)" [pageIndex]="page" [pageSize]="pageSize"
        [pageSizeOptions]="[1, 2, 5, 10, 25, 100]">
    </mat-paginator>
</ng-container>